# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build
/netpp
/logpp
/json
/caching
/scheduler
/include/api
/include/http
/include/util/Exception.hpp
/include/util/String.hpp
/include/util/UUID.hpp
/include/util/Date.hpp
/include/util/LogUtil.hpp
/include/util/Parser.hpp
/include/util/Util.hpp
/include/util/URL.hpp
/include/JSON.hpp
/include/logconfig.h
/include/netppconfig.h
/include/Exception.hpp
/include/util/fio/LogAppender.hpp
/include/util/fio/PropertiesReader.hpp
/include/util/logging/Level.hpp
/include/util/logging/Log.hpp
/include/util/properties/LogProperties.hpp
/include/Caching.hpp
/include/cache
/include/Scheduler.hpp
/include/Task.hpp
/include/config.h
/.vscode/setting.json
/.vscode/c_pp_properties.json
/.vscode/launch.json
/.vscode